<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
	xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Lista de Transacciones</title>
</head>
<body>
<section id = "empresas" th:fragment = "listaEmpre">
    <div class = "container">
	  <div class = "row">
		<div class = "col-md-9">
		    <div class = "card">
			  <div class = "card-header">
				<h4>[[#{empre.lista}]]</h4>
			  </div>
			  <div th:if = "${empresas != null and !empresas.empty}">
				<table class = "table table-stryped">
				    <thead class = "thead-dark">
				    <tr>
					  <th>#</th>
					  <th th:text = "#{empleado.nombre}">Concepto</th>
					  <th th:text = "#{empleado.direccion}">Monto</th>
					  <th th:text = "#{empleado.telefono}">Fecha</th>
					  
					  <th></th>
					  <th></th>
				    </tr>
				    </thead>
				    <tbody>
				    <tr th:each = "empresa, contador : ${empresas}">
					  <td>[[${contador.count}]]</td>
					  <td>[[${empresa.nombre}]]</td>
					  <td>[[${empresa.direccion}]]</td>
					  <td>[[${empresa.telefono}]]</td>
					  
					  <td>
						<a class = "btn btn-secundary" sec:authorize = "hasRole('ROLE_ADMIN')"
						   th:href =
							  "@{/editarEmpre/} + ${empresa.id}">
						    <i class = "fas fa-angle-double-right"></i> [[#{accion.editar}]]
						</a>
					  </td>
					  <td>
						<a class = "btn btn-dark" sec:authorize = "hasRole('ROLE_ADMIN')"
						   th:href =
							  "@{/eliminarEmpre(id=${empresa.id})}">
						    <i class = "fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
						</a>
					  </td>
				    </tr>
				    </tbody>
				</table>
			  </div>
			  <div class = "text-center p-2" th:if = "${empresas == null or empresas.empty}">
				<sp th:text = "#{empresa.lista-vacia}">
				    Lista vacia
				</sp>
			  </div>
		    </div>
		</div>
		
		<div class = "col-md-3">
		    <div class = "card text-center bg-success text-white mb-3">
			  <div class = "card-body">
				<h3 th:text = "#{empresa.totalEmpresas}">Total Empresas</h3>
				<h4 class = "display-4">
				    <i class = "fas fa-solid fa-city">  [[${totalEmpresas}]]</i>
				</h4>
			  </div>
		    </div>
		</div>
	  </div>
    </div>
</section>
</body>
</html>