<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org"
>
<head>
    <meta charset = "UTF-8">
    <title>Botones Editar</title>
</head>
<body>
<section th:fragment = "botonesEditarEmpre">
    <div class = "py-4 mb-4 bg-light" id = "actions">
	  <div class = "container">
		<div class = "row">
		    <div class = "col-md-3">
			  <a class = "btn btn-light btn-block" th:href = "@{/empresas}">
				<i class = "fas fa-arrow-left"></i> [[#{accion.regresar}]]
			  </a>
		    </div>
		    <div class = "col-md-3">
			  <button class = "btn btn-success btn-block" type = "submit">
				<i class = "fas fa-check"></i> [[#{accion.guardar}]]
			  </button>
		    </div>
		    <div class = "col-md-3">
			  <a class = "btn btn-danger btn-block" th:href = "@{/eliminarEmpre(id=${empresa.id})}">
				<i class = "fas fa-trash"></i> [[#{accion.eliminar}]]
			  </a>
		    </div>
		</div>
	  </div>
    </div>
</section>
</body>
</html>