<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
	xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
<section id = "usuarios" th:fragment = "listaUsuarios">
    <div class = "container">
	  <div class = "row">
		<div class = "col-md-9">
		    <div class = "card">
			  <div class = "card-header">
				<h4>[[#{empleado.lista}]]</h4>
			  </div>
			  <div th:if = "${empleados != null and !empleados.empty}">
				<table class = "table table-stryped">
				    <thead class = "thead-dark">
				    <tr>
					  <th>#</th>
					  <th th:text = "#{empleado.nombre}">Nombre</th>
					  <th th:text = "#{empleado.email}">Email</th>
					  <th th:text = "#{empleado.telefono}">Telefono</th>
					  <th></th>
					  <th></th>
				    </tr>
				    </thead>
				    <tbody>
				    <tr th:each = "empleado, contador : ${empleados}">
					  <td>[[${contador.count}]]</td>
					  <td>[[${empleado.perfil.nombre}]]</td>
					  <td>[[${empleado.email}]]</td>
					  <td>[[${empleado.perfil.telefono}]]</td>
					  <td>
						<a class = "btn btn-secundary" sec:authorize = "hasRole('ROLE_ADMIN')"
						   th:href =
							  "@{/editar/} + ${empleado.idEmpleado}">
						    <i class = "fas fa-angle-double-right"></i> [[#{accion.editar}]]
						</a>
					  </td>
					  <td>
						<a class = "btn btn-dark" sec:authorize = "hasRole('ROLE_ADMIN')"
						   th:href =
							  "@{/eliminar(idEmpleado=${empleado.idEmpleado})}">
						    <i class = "fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
						</a>
					  </td>
				    </tr>
				    </tbody>
				</table>
			  </div>
			  <div class = "text-center p-2" th:if = "${empleados == null or empleados.empty}">
				<sp th:text = "#{empleado.lista-vacia}">
				    Lista vacia
				</sp>
			  </div>
		    </div>
		</div>
		
		<div class = "col-md-3">
		    <div class = "card text-center bg-success text-white mb-3">
			  <div class = "card-body">
				<h3 th:text = "#{empleado.totalUsuarios}">Total Usuarios</h3>
				<h4 class = "display-4">
				    <i class = "fas fa-users">[[${totalUsuarios}]]</i>
				</h4>
			  </div>
		    </div>
		</div>
	  </div>
    </div>
</section>
</body>
</html>